<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="css/style.css">
    <title>Delete user</title>


</head>
<body>
    <div class="container">
        <div th:replace="fragments/header :: header"></div>



        <h2>Vil du slette brugeren:</h2>
        <p th:text = "${person.firstName} + ' ' + ${person.lastName}"></p>
        <p th:text = "${person.email}"></p>

        <form action="/delete-user-post" method="post">
            <input type="hidden" th:value="${person.email}" name="email">
            <input type="submit" value="YES">
            <a href="/index"> NO</a>
        </form>

        <div th:replace="fragments/footer :: footer"></div>
    </div>
</body>
</html>