<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Sikker side</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container">
            <div th:replace="fragments/user-header :: user-header"></div>
            <h1>Dette er en side man kun kan se med USER role</h1>
            <p><a href="/">Tilbage til forsiden</a></p>
            <div th:replace="fragments/footer :: footer"></div>
        </div>
    </body>
</html>