<!--Mikkel-->
<footer th:fragment="footer" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="footer_container">

        <p>
            <a href="/contact">Kontakt</a>
            <a href="/about">Om os</a>
            <span sec:authorize="isAuthenticated()" style="display: inline-block;">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>
            <span sec:authorize="hasRole('USER')">User test</span>
            <span sec:authorize="hasRole('manager')">Manager test</span>
            <span class="right">&copy; Copyright The Grey Vikings</span>
        </p>
    </div>
</footer>