<header th:fragment="header">
    <div id="logo"><a href="/">Idébanken</a></div>
    <nav>
        <a href="/ideas">Idéer</a>
        <a href="/developers">Udviklere</a>
        <a href="/about">Om</a>
        <a href="/contact">Kontakt</a>

        <a th:href="${#authorization.expression('isAuthenticated()')} ?
               '/logout' :
               '/login'"
           th:text="${#authorization.expression('isAuthenticated()')} ?
               'Logout' :
               'Login'"></a>
    </nav>
    <div class="clear"></div>
</header>