body {
    margin-top: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
    height: 35px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: cornflowerblue;
}
#logo {
    float: left;
}
#logo a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
nav {
    float: right;
}
nav a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
nav a:hover {
    color: #444444;
}
.clear {
    clear: both;
}
.container {
    width: 1024px;
    margin: 0 auto;
}