<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container">
            <div th:replace="fragments/header :: header"></div>
            <div class ="center">
                <h1>Opret dine idéer her</h1>
                <p>Har du en idé? Men mangler nogle udviklere til at hjælpe dig?
                Så submit dine idéer her</p>
                <form action="/create-idea">
                    <button class="button">Opret din idé</button>
                </form>
                <a href="login.html">Er du udvikler? Så tilmeld dig her!</a>
            </div>
            <div th:replace="fragments/footer :: footer"></div>
        </div>
    </body>
</html>