<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Opret Idé</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <h1>Opret en idé</h1>
    <form action="/create-idea-post" method="post">
        <table>
            <tr>
                <td><label for="idea_name">Idé navn:</label></td>
                <td><input type="text" id="idea_name" name="ideaName" placeholder="Navn" required></td>

            </tr>
            <tr>
                <td><label for="idea_description">Idé beskrivelse:</label></td>
                <td><textarea rows="5" cols="50" id="idea_description" name="ideaDescription" placeholder="Beskrivelse" required></textarea></td>
            </tr>
            <tr>
                <td><input type="reset" value="Reset felter"></td>
                <td><input type="submit" value="Opret idé" id="submit"></td>
            </tr>
        </table>
    </form>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>